html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 2em;
}

thead, .button-container {
    outline: 3px dashed #f2f2f2;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.table-container::-webkit-scrollbar {
    display: none;
}

.table-container {
    display: block;
    overflow-y: auto;
    height: calc(100vh - 100px);
    scrollbar-width: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    z-index: 1; /* firefox bug fix */
}

thead, th { /* chrome bug fix */
    position: sticky;
    top: 0;
    background: #fff;
}

th {
    text-align: left;
    color: #5596e5;
}

tbody tr {
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    position: relative;
}

tbody tr:hover {
    background: #f2f2f2;
}

td, th {
    padding: 1em;
}

table svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.button {
    padding: .5em 2em;
    border-radius: 1em;
    background: #5596e5;
    color: #fff;
    display: flex;
    align-items: center;
    user-select: none;
    text-decoration: none;
}

.button svg {
    margin-right: .5em;
}

.container svg {
    width: 12rem;
    height: 12rem;
}

.container > * {
    margin-top: .5em;
    margin-bottom: .5em;
    text-align: center;
}

.feather-x {
    color: #FF0000;
}

.feather-check {
    color: #00FF00;
}

.feather-alert-triangle {
    color: #ff6a00;
}

.feather-loader {
    animation: rotation 3s linear infinite;
}

#preview {
    width: 100vw;
    height: 100vh;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}