html, body {
    font-family: 'Courier New';
    margin: 0;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.table-container::-webkit-scrollbar {
    display: none;
}

.table-container {
    display: block;
    overflow-y: auto;
    height: calc(100vh - 100px);
    scrollbar-width: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    z-index: 1; /* firefox bug fix */
}

thead, th { /* chrome bug fix */
    position: sticky;
    top: 0;
    background: #fff;
}

th {
    text-align: left;
    color: #5596e5;
}

tbody tr {
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    position: relative;
}

tbody tr:hover:not(.disabled) {
    background: #f2f2f2;
}

tr.disabled::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: auto;
}

td, th {
    padding: 1em;
}

table svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.button {
    padding: .5em 2em;
    border-radius: 1em;
    background: #5596e5;
    color: #fff;
    display: flex;
    align-items: center;
    user-select: none;
}

.button svg {
    margin-right: .5em;
}

.ticket-details svg {
    width: 12rem;
    height: 12rem;
}

.feather-x {
    color: #FF0000;
}

.feather-check {
    color: #00FF00;
}

.feather-alert-triangle {
    color: #ff6a00;
}

.feather-loader {
    animation: rotation 3s linear infinite;
}

#preview {
    width: 100vw;
    height: 100vh;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}