Title: Home
NoSidebar: true
NoTitle: true
---
<h1>Welcome!</h1>

<p>You can explore the documentation by selecting sections from the navigation bar above.</p>

<img src="assets/img/1920x1440-2A40DF99-1847-4726-9C5B-AF4779EEB667.jpg" />

<h2>Overview</h2>

<p>
Ticketbooth is an event ticketing smart contract that runs on Stratis platform. 
It is designed to make event ticketing fairer and more transparent, by providing a public record of every interaction and by cutting out the middlemen in the ticketing industry.
</p>

<h2>Resources</h2>

<ul>
<li>
	<a href="https://github.com/drmathias/Ticketbooth">Github</a>
</li>
<li>	
	<a href="https://stratisplatform.com/">Stratis platform</a>
</li>
</ul>