@page "/details/{hash}"

@implements IDisposable

@inject DetailsViewModel _details

<div class="container">
    <i data-feather="@_details.Icon" />
    <strong>@_details.Message</strong>
    <span>@_details.MessageDetail</span>
</div>

@code {
    [Parameter]
    public string Hash { get; set; }

    protected override void OnInitialized()
    {
        _details.OnDataChanged += OnDataChanged;
    }

    protected override void OnParametersSet()
    {
        _details.RetrieveTicketScan(Hash);
    }

    private void OnDataChanged(object sender, EventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        _details.OnDataChanged -= OnDataChanged;
        _details.Dispose();
    }
}
