@page "/details/{hash}"

@implements IDisposable

@inject DetailsViewModel _detailsViewModel

<div class="container">
    <i data-feather="@_detailsViewModel.Icon" />
    <strong>@_detailsViewModel.Message</strong>
    <span>@_detailsViewModel.MessageDetail</span>
</div>

@code {
    [Parameter]
    public string Hash { get; set; }

    protected override void OnInitialized()
    {
        _detailsViewModel.OnPropertyChanged += (s, e) => StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        _detailsViewModel.RetrieveTicketScan(Hash);
    }

    public void Dispose()
    {
        _detailsViewModel.OnPropertyChanged -= (s, e) => StateHasChanged();
        _detailsViewModel.Dispose();
    }
}
