@page "/"

@implements IDisposable;

@inject NavigationManager _navigationManager;
@inject AppStateViewModel  _appState;

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Seat</th>
                <th>Valid</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var scanResult in _appState.TicketScans.Reverse())
            {
                <tr @onclick="() => ViewDetails(scanResult)" class="@(scanResult.Status == TicketScanStatus.Started ? "disabled" : string.Empty)">
                    <td>@scanResult.Time.ToLongTimeString()</td>
                    <td>@($"{scanResult.Seat.Number}{scanResult.Seat.Letter}")</td>
                    <td>
                        <i data-feather="@(scanResult.Status == TicketScanStatus.Started ? "loader"
                                           : scanResult.Status == TicketScanStatus.Faulted ? "alert-triangle"
                                           : scanResult.OwnsTicket ? "check" : "x")"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="button-container">
    <a href="scan" class="button"><i data-feather="camera"></i>Scan</a>
</div>

@code {
    protected override void OnInitialized()
    {
        _appState.OnDataChanged += OnDataChanged;
    }

    private void ViewDetails(TicketScanModel scanResult)
    {
        if (scanResult.Status == TicketScanStatus.Started)
        {
            return;
        }

        _navigationManager.NavigateTo($"details/{scanResult.TransactionHash}");
    }

    private void OnDataChanged(object sender, EventArgs eventArgs)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        _appState.OnDataChanged -= OnDataChanged;
    }
}