@page "/"

@implements IDisposable;

@inject NavigationManager _navigationManager;
@inject IndexViewModel  _indexViewModel;

<div class="table-container">
    @if (!_indexViewModel.TicketScans.Any())
    {
        <div class="table-empty">
            No ticket scans yet.
        </div>
    }
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Seat</th>
                <th>Valid</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var scanResult in _indexViewModel.TicketScans)
            {
                <tr @onclick="() => ViewDetails(scanResult)">
                    <td>@scanResult.Time.ToLongTimeString()</td>
                    <td>@($"{scanResult.Seat.Number}{scanResult.Seat.Letter}")</td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24" height="24" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor"
                             stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-@(scanResult.Status == TicketScanStatus.Started ? "loader"
                                           : scanResult.Status == TicketScanStatus.Faulted ? "alert-triangle"
                                           : scanResult.OwnsTicket ? "check" : "x")">
                            @if (scanResult.Status == TicketScanStatus.Started)
                            {
                                <line xmlns="http://www.w3.org/2000/svg" x1="12" y1="2" x2="12" y2="6" />
                                <line xmlns="http://www.w3.org/2000/svg" x1="12" y1="18" x2="12" y2="22" />
                                <line xmlns="http://www.w3.org/2000/svg" x1="4.93" y1="4.93" x2="7.76" y2="7.76" />
                                <line xmlns="http://www.w3.org/2000/svg" x1="16.24" y1="16.24" x2="19.07" y2="19.07" />
                                <line xmlns="http://www.w3.org/2000/svg" x1="2" y1="12" x2="6" y2="12" />
                                <line xmlns="http://www.w3.org/2000/svg" x1="18" y1="12" x2="22" y2="12" />
                                <line xmlns="http://www.w3.org/2000/svg" x1="4.93" y1="19.07" x2="7.76" y2="16.24" />
                                <line xmlns="http://www.w3.org/2000/svg" x1="16.24" y1="7.76" x2="19.07" y2="4.93" />
                            }
                            else if (scanResult.Status == TicketScanStatus.Faulted)
                            {
                                <path xmlns="http://www.w3.org/2000/svg" d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z" />
                                <line xmlns="http://www.w3.org/2000/svg" x1="12" y1="9" x2="12" y2="13" />
                                <line xmlns="http://www.w3.org/2000/svg" x1="12" y1="17" x2="12.01" y2="17" />
                            }
                            else if (scanResult.OwnsTicket)
                            {
                                <polyline xmlns="http://www.w3.org/2000/svg" points="20 6 9 17 4 12" />
                            }
                            else
                            {
                                <line xmlns="http://www.w3.org/2000/svg" x1="18" y1="6" x2="6" y2="18" />
                                <line xmlns="http://www.w3.org/2000/svg" x1="6" y1="6" x2="18" y2="18" />
                            }
                        </svg>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="button-container">
    <a href="scan" class="button">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24" height="24" viewBox="0 0 24 24"
             fill="none" stroke="currentColor"
             stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
             class="feather feather-camera">
            <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
            <circle cx="12" cy="13" r="4"></circle>
        </svg>
        Scan
    </a>
</div>

@code {
    protected override void OnInitialized()
    {
        _indexViewModel.OnPropertyChanged += (s, e) => StateHasChanged();
    }

    private void ViewDetails(TicketScanModel scanResult)
    {
        _navigationManager.NavigateTo($"details/{scanResult.Identifier}");
    }

    public void Dispose()
    {
        _indexViewModel.OnPropertyChanged -= (s, e) => StateHasChanged();
        _indexViewModel.Dispose();
    }
}