@page "/"

@implements IDisposable;

@inject NavigationManager _navigationManager;
@inject AppStateViewModel  _appStateViewModel;

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Seat</th>
                <th>Valid</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var scanResult in _appStateViewModel.TicketScans.Reverse())
            {
                <tr @onclick="() => ViewDetails(scanResult)">
                    <td>@scanResult.Time.ToLongTimeString()</td>
                    <td>@($"{scanResult.Seat.Number}{scanResult.Seat.Letter}")</td>
                    <td>
                        <i data-feather="@(scanResult.Status == TicketScanStatus.Started ? "loader"
                                           : scanResult.Status == TicketScanStatus.Faulted ? "alert-triangle"
                                           : scanResult.OwnsTicket ? "check" : "x")"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="button-container">
    <a href="scan" class="button"><i data-feather="camera"></i>Scan</a>
</div>

@code {
    protected override void OnInitialized()
    {
        _appStateViewModel.OnPropertyChanged += (s, e) => StateHasChanged();
    }

    private void ViewDetails(TicketScanModel scanResult)
    {
        _navigationManager.NavigateTo($"details/{scanResult.TransactionHash}");
    }

    public void Dispose()
    {
        _appStateViewModel.OnPropertyChanged -= (s, e) => StateHasChanged();
    }
}