@page "/scan"

@implements IDisposable

@inject ScanViewModel _scanViewModel;

<video id="preview" hidden="@(!_scanViewModel.IsStreaming)"></video>

@if (!_scanViewModel.IsStreaming)
{
    <div class="container">
        <i data-feather="camera-off"></i>
        <strong>@_scanViewModel.ErrorMessage</strong>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        _scanViewModel.SetCameraNotOpen();
        _scanViewModel.OnPropertyChanged += (s, e) => StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _scanViewModel.StartQrScanner();
        }
    }

    public void Dispose()
    {
        _scanViewModel.OnPropertyChanged -= (s, e) => StateHasChanged();
    }
}
